@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: #f3f7f9;
  min-height: 100vh;
  position: relative;
  padding: 20px 0px;
}

.children {
  max-width: 550px;
  margin: auto;
}

.title {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.search {
  padding: 10px 5px;
  width: 100%;
}

.box-filter {
  display: flex;
  padding: 15px 0px;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.list {
  margin: 5px 0px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  .status {
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 15px;
  }

  &.success {
    border-left: 5px solid #56b586;
    .status {
      background-color: #56b586;
      color: #fff;
    }
  }

  &.pending {
    border-left: 5px solid #fd6542;
    .status {
      border: 1px solid #fd6542;
    }
  }
}